* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  font-size: large;
}
a:hover {
  color: #00f;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  background-color: rgb(214, 231, 247);
}

.banner {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 132 255);
  border: 2px solid black;
}

.banner-item {
  font-size: xx-large;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 132, 255, 0.4);
  width: 100%;
}

.header-item {
  font-size: large;
  text-align: center;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 132, 255, 0.4);
  width: 100%;
  margin-right: 20px;
}

.nav-items {
  background-color: rgb(214, 231, 247);
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-items-invs {
  width: 25px;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.about {
  border: 2px solid lightgray;
  flex-grow: 1;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
}

.delete {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 10px;
  background-color: inherit;
}

.btn {
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  min-width: 30px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-submit {
  margin: 2px 50px 2px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  height: 30px;
  background-color: rgb(214, 231, 247);
}

.btn-submit:focus {
  outline: none;
}

.btn-submit:active {
  transform: scale(0.98);
}

.label-collapsed-invs {
  display: flex;
  flex: 1;
  background-color: inherit;
}

.label-collapsed {
  font-size: x-large;
  background-color: inherit;
  min-width: 250px;
  text-align: center;
}

.expand {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  background-color: inherit;
}

.text-input {
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  height: 30px;
  margin: 2px 50px 2px 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2 0;
  padding: 2px 10px 10px 10px;
  margin: 2px 10px;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.card-collapsed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 10px;
  margin: 2px 10px;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.card-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.card-records {
  flex-direction: column;
  justify-content: center;
  background-color: white;
  overflow: auto;
  max-height: 35vh;
  margin: 2px 50px 2px 50px;
}

.column-item {
  text-align: center;
  border: 2px solid gray;
  margin: 5px;
  border-radius: 5px;
  height: 30px;
  background-color: rgb(214, 231, 247);
  align-self: center;
}

.footer {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 132, 255, 0.4);
}

.footer-item {
  margin: 10px;
}
