.main-page {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(17, 58, 78);
  padding: 5%;
  border-radius: 5px;
}

.app {
  border: 1px solid rgb(17, 58, 78);
  padding: 5%;
  border-radius: 5px;
}

.navbar {
  border: 1px solid rgb(17, 58, 78);
  margin: 0;
  border-radius: 5px;
}

li {
  display: inline-block;
  padding-right: 5%;
}
